<section class="content">
  <ul class="mr-20 matches styled" data-test-id="survey-list">
    <li class="slide-up-fade-in survey-details layout-row">
        <span><b>TITLE</b></span>
        <span><b>CATEGORY</b></span>
        <span><b>STATUS</b></span>
        <span><b>LABEL</b></span>
    </li>
    <li class="survey-details layout-row slide-up-fade-in" *ngFor="let item of surveyList">
         <span>{{item.title}}</span>
         <span>{{item.category}}</span>
         <span>{{item.status}}</span>
         <span>{{item.label}}</span>
    </li>
  </ul>
</section>
